.footer-section-details {
  display: flex;
  justify-content: space-between;
}

.footer-section-details-wrapper {
  margin-right: auto !important;
  max-width: 1400px !important;
  margin-left: auto !important;
}
.footer-section-details-2-wrapper
{
  max-width: 1400px !important;
}